#section-header {
    background-image: url('../images/Hills.png');
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 715px;
    font-family: 'Montserrat', sans-serif;
}

.logotekst {
    font-size: 30px;
    letter-spacing: 0px;
    color: #0B0B0B;    
}

#section-header-row {
    margin-top: 35px;
    margin-bottom: 20px;
}

#sektsioon-matkainfo {
    margin-top: 15px;
}

.pealkirjad {
    padding-top: 195px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: black;    
}

.pealkirjad .caption1 {
    font-size: 40px;
    font-weight: 800;
}

.pealkirjad .caption2 {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 0px;
}

.peamenyy {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-right: -252px;
}

.peamenyy li {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 20px 0px 20px 20px;
    text-transform: uppercase;
    color: black;
}

.peamenyy li a{
    letter-spacing: 1px;
    color: #000000 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

.matkaja {
    width: 100%;
    overflow: hidden;
    margin: 0;
    background-image: url('../images/shadow.png');
    background-repeat: no-repeat;
    background-position: -130px bottom;
    min-height: 838px;  
}

.matkaja .matkaja-img {
    display: block;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: -400px;
}

.matkaja .matkaja-vari {
    display: block;
    padding-top: 400px;
    width: 800px;
    height: 89px;
}

.peamenyy li a:hover{
    color:gray !important;
    text-decoration: none;
}

.caption-row {
    padding-top: 10;
}

.butterfly1 {
    display: inline-block;
    width: 75px;
    height: 66px;
    background: transparent url('../images/Butterfly1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.matkaandmed {
    padding-top: 250px;
}

.matkarida {
    letter-spacing: 2.67px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

.matkarida img {
    object-fit: cover;
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.matkarida span {
    padding-left: 15px;
}


